.book {
    background-color: #f5f5f5;
    /* text-align: center; */
  }
  
  #book-img {
    width: 20em;
    height: 24em;
    margin: auto;
    padding-right: 5%;
  }
  
  .book-info {
    padding-right: 4em;
  }

  .review-name {
     text-align: center;

}
  .write-review center{
     padding-bottom: 1%;
  }

  h1 {
    margin: 0;
    padding-top: 1em;
    margin-bottom: 1em;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  h3 {
    margin: 0;
    padding-top: 0.4em;
    margin-bottom: 0.4em;
    text-align: left;
  }

  p {
    text-align: left;
    padding-left: 1em;
  }

  #p1{
    text-align: center;
  }

  b {
    text-align: left;
    font-weight: bold;
  }

 
  i {
    display: block;
    margin: 0 auto;
    
  }
  
  .summary {
    text-align: center;
  }
  
  .description {
    display: grid;
    grid-template-columns: 1fr 1fr;
  
  }

  .rating-stars {
    font-size:      200%;
    letter-spacing: 1em;
  }

  

/* Image */

img {
  width: 32%;
  height: 84%;
 
  
}

img:hover {
  box-shadow: 6px 6px 20px rgba(0, 0, 0, .9);
  overflow: visible;
}

img:focus {
  /** Default lightbox to hidden */
  display: block;
  /** Position and style */
	position: fixed;
	z-index: 999;
	width: 40%;
	height: 100%;
	text-align: center;
	top: 0;
  left: 0;
  right: 25%;
  bottom: 0;
  background-color: rgb(41, 40, 40)
}


p.ex1 {
  padding: 20px;
}







